.shower {
  --accent: #3a2d72;
}

.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

ul.inline li {
  white-space: nowrap;
}

.slide pre {
  margin-left: 0;
}

.slide pre code {
  line-height: 1.7;
}

.prefix {
  opacity: .5;
}

.cake.slide h2,
.cake.slide h3 {
  text-align: center;
  text-shadow: -1.5px -1.5px 0 white,
                1.5px -1.5px 0 white,
               -1.5px  1.5px 0 white,
                1.5px  1.5px 0 white;
}
.cake.slide h2 {
  font-size: 5em;
  margin-top: .75em;
}
.cake.slide h3 {
  font-size: 11em;
  letter-spacing: -.075em;
  font-weight: normal;
  margin-top: .3em;
}

.text.slide {
  padding-top: 3em;
}
.text.slide#threat{
  padding: 5em 120px;
  text-align: right;
}
.text.slide > p {
  color: var(--accent);
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.33;
}
.intro.text.slide p {
  font-size: 1.5em;
}

.slide.cover h2 {
  text-shadow: -1.5px -1.5px 0 white,
                1.5px -1.5px 0 white,
               -1.5px  1.5px 0 white,
                1.5px  1.5px 0 white;
}
.dark.slide.cover h2 {
  color: var(--accent);
  box-shadow: 0 0 100px white;
  background-color: rgba(255, 255, 255, .5);
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child,
.slide ul + figure.cover.height.margin > :first-child {
  height: 75%;
}

.faded {
  opacity: .2;
  filter: contrast(1.1);
}

figure.cover img {
  z-index: -200 !important;
}

blockquote {
  margin-top: -21px;
}
blockquote p {
  font-weight: bold;
  font-style: italic;
}
.slide.text blockquote {
  margin-top: 60px;
}
cite {
  font-size: 90%;
}

del {
  opacity: .7;
}

ins {
  color: var(--accent);
  text-decoration: none;
  font-style: italic;
}

.twitter-tweet-rendered {
  margin: 4em auto !important;
  transform: scale(1.75) !important;
}
