.shower {
  --accent: #3a2d72;
}

.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

ul.inline li {
  white-space: nowrap;
}

.slide pre code {
  font-size: .9em;
  line-height: 1.4;
}

.prefix {
  opacity: .5;
}

.cake.slide {
  text-align: center;
}
.cake.slide h2 {
  font-size: 5em;
  margin-top: .75em;
}
.cake.slide h3 {
  font-size: 11em;
  letter-spacing: -.075em;
  font-weight: normal;
  margin-top: .3em;
}

.text.slide {
  padding-top: 3em;
}
.text.slide#threat{
  padding: 5em 120px;
  text-align: right;
}
.text.slide p {
  color: var(--accent);
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.33;
}
.intro.text.slide p {
  font-size: 1.5em;
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child {
  height: 75%;
}

p.reference {
  text-align: right;
  position: absolute;
  width: 14em;
  font-size: .8em;
  bottom: 0;
  right: 60px;
}
p.reference:not(:hover) {
  opacity: .66;
}
p.reference cite {
  font-style: italic;
}
p.reference .journal {
  font-size: .8em;
  display: block;
}
